/**
 * scss file for the modal that opens when the user needs to give this consent to the new terms of service of the platform.
 */
.modal-update-terms-of-service-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  .modal-update-terms-of-service-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
    box-shadow: -7px 8px 20px 2px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    .button-modal {
      margin-top: 1rem;
    }
  }
}
