## mako
${_("© 2012–{year} edX Inc. ")}
${_("About edX")}
${_("About edX Certificates")}
${_("About edX Verified Certificates")}
${_("Absolutely. We have created an online course, edX101, that describes some best practices: from filming video, creating exercises, to the basics of running an online course. Additionally, we're always here to help, just drop us a note.")}
${_("Access documentation on http://docs.edx.org")}
${_("Access the Open edX Portal")}
${_("Add the key/value pair for any custom parameters, such as the page your e-book should open to or the background color for this component.<br />See {docs_anchor_open}the edX LTI documentation{anchor_close} for more details on this setting.")}
${_("Allow course instructors to assign CCX Coach roles, and allow coaches to manage Custom Courses on edX. When false, Custom Courses cannot be created, but existing Custom Courses will be preserved.")}
${_("Allow students to download versions of this video in different formats if they cannot use the edX video player or do not have access to YouTube. You must add at least one non-YouTube URL in the Video File URLs field.")}
${_("All rights reserved except where noted. edX, Open edX and the edX and Open edX logos are registered trademarks or trademarks of edX Inc.")}
${_("An edX Verified Certificate signifies that the learner has agreed to abide by the edX honor code and completed all of the required tasks of this course under its guidelines, as well as having their photo ID checked to verify their identity.")}
${_("{b_start}Support our Mission: {b_end} EdX, a non-profit, relies on verified certificates to help fund free education for everyone globally")}
${_("Contact your edX partner manager to update these settings.")}
${_("course-v1:edX+DemoX+Demo_Course")}
${_("Create a new Custom Course for edX")}
${_("Dear edX Learner,")}
${_("Do you want to replace the edX transcript with the YouTube transcript?")}
${_("Each line is a comma-separated list. The first item in each line is the slug of a badge class you have created that has an issuing component of 'openedx__course'. The remaining items in each line are the course keys the learner needs to complete to be awarded the badge. For example: slug_for_compsci_courses_group_badge,course-v1:CompSci+Course+First,course-v1:CompsSci+Course+Second")}
${_("edX Documentation")}
${_("EdX doesn't have a timed transcript for this video in Studio, but we found a transcript on YouTube. You can import the YouTube transcript or upload your own .srt transcript file.")}
${_("EdX doesn\'t have a timed transcript for this video. Please upload an .srt file.")}
${_("edX Email")}
${_("EdX Financial Assistance is a program we created to give learners in all financial circumstances a chance to earn a Verified Certificate upon successful completion of an edX course.")}
${_("EdX has a timed transcript for this video. If you want to edit this transcript, you can download, edit, and re-upload the existing transcript. If you want to replace this transcript, upload a new .srt transcript file.")}
${_("EdX has a timed transcript for this video. If you want to replace this transcript, upload a new .srt transcript file. If you want to edit this transcript, you can download, edit, and re-upload the existing transcript.")}
${_("edX Home Page")}
${_("edX Inc.")}
${_("EdX is committed to making it possible for you to take high quality courses from leading institutions regardless of your financial situation, earn a Verified Certificate, and share your success with others.")}
${_("edX Learner Stories")}
${_("EdxNotes Service is unavailable. Please try again in a few minutes.")}
${_("EdX, Open edX, and MicroMasters are registered trademarks of edX Inc. ")}
${_("EdX, Open edX, and the edX and Open edX logos are registered trademarks or trademarks of {link_start}edX Inc.{link_end}")}
${_("EdX, Open edX, Studio, and the edX and Open edX logos are registered trademarks or trademarks of {link_start}edX Inc.{link_end}")}
${_("edX Partner Portal")}
${_("edx-video-pipeline API URL.")}
${_("Enroll in edX101")}
${_("Enroll in edX101: Overview of Creating an edX Course")}
${_("Enroll in StudioX: Creating a Course with edX Studio")}
${_("Enter the LTI ID for the external LTI provider.  This value must be the same LTI ID that you entered in the LTI Passports setting on the Advanced Settings page.<br />See {docs_anchor_open}the edX LTI documentation{anchor_close} for more details on this setting.")}
${_("Enter the name of the course as it should appear in the edX.org course list.")}
${_("Enter the unique identifier for your course's video files provided by edX.")}
${_("Enter the URL of the external tool that this component launches. This setting is only used when Hide External Tool is set to False.<br />See {docs_anchor_open}the edX LTI documentation{anchor_close} for more details on this setting.")}
${_("Enter true or false. If true, edX users can view the course wiki even if they're not enrolled in the course.")}
${_("Enter true or false. If true, the course appears in the list of new courses on edx.org, and a New! badge temporarily appears next to the course image.")}
${_("For detailed information, see {math_link_start}Entering Mathematical and Scientific Expressions{math_link_end} in the {guide_link_start}edX Guide for Students{guide_link_end}.")}
${_("I allow edX to use the information provided in this application (except for financial information) for edX marketing purposes.")}
${_("If dashboard social sharing and custom course URLs are enabled, you can provide a URL (such as the URL to a course About page) that social media sites can link to. URLs must be fully qualified. For example: http://www.edx.org/course/Introduction-to-MOOCs-ITM001")}
${_("If you proceed, you will be unable to use this account to take courses on the edX app, edx.org, or any other site hosted by edX. This includes access to edx.org from your employer’s or university’s system and access to private sites offered by MIT Open Learning, Wharton Executive Education, and Harvard Medical School.")}
${_("If your application is approved, we'll give you instructions for verifying your identity on edx.org so you can start working toward completing your edX course.")}
${_("If you were assigned a Video ID by edX for the video to play in this component, enter the ID here. In this case, do not enter values in the Default Video URL, the Video File URLs, and the YouTube ID fields. If you were not assigned a Video ID, enter values in those other fields and ignore this field.")}
${_("In order to be eligible for edX Financial Assistance, you must demonstrate that paying the Verified Certificate fee would cause you economic hardship. To apply, you will be asked to answer a few questions about why you are applying and how the Verified Certificate will benefit you.")}
${_("It works! This is the default homepage for this Open edX instance.")}
${_("{learner_name}, edX Learner")}
${_("{link_start}edX{link_end} offers interactive online classes and MOOCs from the world's best universities, including MIT, Harvard, Berkeley, University of Texas, and many others. edX is a non-profit online initiative created by founding partners Harvard and MIT.")}
${_("No EdX Timed Transcript")}
${_("No endpoint was provided for EdxNotes.")}
${_("Non usable git url provided. Expecting something like: git@github.com:mitocw/edx4edx_lite.git")}
${_("Non writable git url provided. Expecting something like: git@github.com:mitocw/edx4edx_lite.git")}
${_("On each line, put the number of completed courses to award a badge for, a comma, and the slug of a badge class you have created that has the issuing component 'openedx__course'. For example: 3,enrolled_3_courses")}
${_("On each line, put the number of enrolled courses to award a badge for, a comma, and the slug of a badge class you have created that has the issuing component 'openedx__course'. For example: 3,enrolled_3_courses")}
${_("Open edX")}
${_("Open edX Portal")}
${_("Optional lms url scheme + host used to construct urls for content library, e.g. https://courses.edx.org.")}
${_("Optionally, link your personal accounts to the social media icons on your edX profile.")}
${_("© {org_name}.  All rights reserved except where noted.  EdX, Open edX and their respective logos are trademarks or registered trademarks of edX Inc.")}
${_("Powered by Open edX")}
${_("Register through edX")}
${_("Remember when you enrolled in %(course_name)s, and other courses on edX.org? We do, and we’re glad to have you! Come see what everyone is learning.")}
${_("Remember when you enrolled in %(course_name)s on edX.org? We do, and we’re glad to have you! Come see what everyone is learning.")}
${_("Short identifier for the LinkedIn partner used in the tracking code.  (Example: 'edx')  If no value is provided, tracking codes will not be sent to LinkedIn.")}
${_("Synchronize user profile data received from the identity provider with the edX user account on each SSO login. The user will be notified if the email address associated with their account is changed as a part of this synchronization.")}
${_("Take free online courses at edX.org")}
${_("The timed transcript for this video on edX is out of date, but YouTube has a current timed transcript for this video.")}
${_("This course uses automatic cohorting for verified track learners. You cannot disable cohorts, and you cannot rename the manual cohort named '{verifiedCohortName}'. To change the configuration for verified track cohorts, contact your edX partner manager.")}
${_("This will be used in public discussions with your courses and in our edX101 support forums")}
${_("Welcome to the Open edX{registered_trademark} platform!")}
${_("Yes, replace the edX transcript with the YouTube transcript")}
${_("You already have an edX account with your {enterprise_name} email address.")}
${_("You have been logged out of your edX account. Click Okay to log in again now. Click Cancel to stay on this page (you must log in again to save your work).")}
${_("You have selected “Delete my account.” Deletion of your account and personal data is permanent and cannot be undone. EdX will not be able to recover your account or the data that is deleted.")}
${_("You have successfully verified your ID with edX")}
${_("Your edX ID verification is pending. Your verification information has been submitted and will be reviewed shortly.")}
${_("Your edX verification has been approved. Your verification is effective for one year after submission.")}
${_("Your profile settings are managed by {enterprise_name}. Contact your administrator or {link_start}edX Support{link_end} for help.")}
