${_("Sign-in")}
${_("Register")}
${_("This account has been temporarily locked due to excessive login failures. Try again later.")}
${_("Exit")}
${_("Previous")}
${_("Next")}
${_("previous")}
${_("next")}
${_("View Unit in Studio")}
${_("Important Course Dates")}
${_("View Archived Course")}
${_("Search Your Courses")}
${_("Resume your last course")}
${_("Dashboard")}

## Translators: This was need because the translation pull didn't come with this translated from transifex!
${_("Activate Your Account")}

## Translators: This was need because the translation pull didn't come with this translated from transifex!
${_("Account Activation")}

## Translators: This solves NAU-201
${_("Unscheduled")}

${_("Course Number")}

## Translators: NAU-252
${_("Forgot password?")}

## Translators: NAU-219
${_("Enter a password with at least {requirements}.")}

## Translators: NAU-252
${_("{num} letter")}

## Translators: NAU-219
${_("{num} uppercase letter")}

## Translators: NAU-219
${_("{num} lowercase letter")}

## Translators: NAU-219
${_("{num} digit")}

## Translators: NAU-219
${_("{num} number")}

## Translators: NAU-219
${_("{num} punctuation mark")}

## Translators: NAU-219
${_("{num} symbol")}

## Translators: NAU-219
${_("{num} word")}

## Translators: NAU-219
${_("Your password must contain at least {num} character, including {requirements}.")}

## Translators: 
${_("Bachelor's degree")}

## Translators: 
${_("Associate degree")}

## Translators: GN-176 - the char : appears repeated in the quiz feedback field
${_("Answer")}

## Translators: GN-206
${_("Answers are displayed within the problem")}
