## mako
<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>

<%!
from django.urls import reverse
from django.utils.translation import ugettext as _

from openedx.core.djangoapps.user_api.accounts.image_helpers import get_profile_image_urls_for_user
from openedx.core.djangoapps.user_api.accounts.toggles import should_redirect_to_order_history_microfrontend
from openedx.core.djangoapps.user_api.accounts.utils import retrieve_last_sitewide_block_completed
from openedx.features.enterprise_support.utils import get_enterprise_learner_generic_name
%>

<%
## This template should not use the target student's details when masquerading, see TNL-4895
self.real_user = getattr(user, 'real_user', user)
profile_image_url = get_profile_image_urls_for_user(self.real_user)['medium']
username = self.real_user.username
resume_block = retrieve_last_sitewide_block_completed(self.real_user)
displayname = get_enterprise_learner_generic_name(request) or username

## Enterprises with the learner portal enabled should not show order history, as it does
## not apply to the learner's method of purchasing content.
should_show_order_history = should_redirect_to_order_history_microfrontend() and not enterprise_customer_portal
%>

<div class="nav-item hidden-mobile">
  <a href="${reverse('learner_profile', args=[self.real_user.username])}" class="menu-title">
    <img data-hj-suppress class="user-image-frame" src="${profile_image_url}" alt="">
  </a>
</div>
<ul id="menu_login_register" class="login_menu" aria-label=${_("Supplemental Links")}>      
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
    <button class="menu-username">${displayname}</button>
    ## <a href="${reverse('learner_profile', args=[self.real_user.username])}" class="menu-title">${displayname}</a>
    <ul class="sub-nav access-menu menu-depth-0">
      % if resume_block:
        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="${resume_block}" role="menuitem">${_("Resume your last course")}</a></li>
      % endif
      % if not enterprise_customer_portal:
        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="${reverse('dashboard')}" role="menuitem">${_("Dashboard")}</a></li>
      % else:
          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="${settings.ENTERPRISE_LEARNER_PORTAL_BASE_URL}/${enterprise_customer_portal.get('slug')}" role="menuitem">${_("Dashboard")}</a></li>
      % endif
      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="${reverse('account_settings')}">${_("Account")}</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a class="${'active ' if '/u/' in request.path  else ''}tab-nav-link" href="${reverse('learner_profile', args=[self.real_user.username])}">${_("Profile")}</a></li>
      % if should_show_order_history:
          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="${settings.ORDER_HISTORY_MICROFRONTEND_URL}" role="menuitem">${_("Order History")}</a></li>
      % endif
      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="${reverse('logout')}" role="menuitem">${_("Sign Out")}</a></li>
    </ul>
  </li>
</ul>
