$back_body_color: gray;
$page_color: #F5F5F5;
$nau_blue: #0857FF;
$new_action_color: #080432;

body {
    
    margin: auto;

    .wrapper {
    
        &.wrapper-r .user-language-selector {   
                position: absolute;    
                height: 0;
                overflow: visible;
                right: 10px;
                top: 85px;
        }
    
        &.wrapper-view {
            border-top: solid 0.2em $nau_blue;
            margin-bottom: 10px;
        }
        
        #view-top.wrapper-header.wrapper {
            
            header.primary {
                div.wrapper {
                    h1.branding {
                        img.brand-image {
                            height: 35px;
                        }
                    }
                }
            }
            
            box-shadow: 0 1px 5px 0;
            &wrapper-1 {
                background: green;
            }

        }
        
    }
    
}

.wrapper-mast .mast.has-actions .nav-actions {
    // GN-390 Fix unable to edit long unit titles
    width: auto;
}


.wrapper-sock .list-cta .cta-show-sock {
    display: none;    
}


.wrapper-footer.wrapper {
    margin: 0px;
    padding: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    .footer-content-primary {
       padding: 10px 20px 0px 20px;
    }
    
    .footer-content-secondary {
        margin: 0px 20px 0px 20px;
    }
    
   
}



.view-dashboard {
    .list-courses {
        border-radius: 10px 10px 20px 20px;
        overflow: hidden;
    }
}

.is-signedin.course .wrapper-header {    
    .info-course {
       float: right;
       width: 220px;
       border-right: none;        
    }
    
    .nav-account {
        width: 350px;
        float: right;
    }
}

#content .button {
    
        border-radius: 50px;
        padding: 0.8em 2em 0.8em 2em;            
        border-width: 1px;
        border-color: $nau_blue;
        
        &:hover {
          box-shadow: 2px 2px 4px gray;    
          border-width: 1px;      
        }
    
        &.button-new {
          background-color: $nau_blue;
          color: white;
            
          &:hover {
            color: $nau_blue;
            background-color: white;
          }    
        }
    
        &.external-help-button {
          background-color: white;
          color: $nau_blue;
          border-color: $nau_blue;
          border-width: 1px;
        }
}

#content {
    
    ol.list-sections {
        li {            
            border-radius: 10px 10px 20px 20px;
        }                
    }   
}

// GN-140 Fix modal drag and drop editor was hidding some last button.
[class*="view-"] .modal-window .editor-with-buttons {
    margin-bottom: unset !important;
}

// Make STUDIO display with full width instead of using a narrow display.
.inner-wrapper,
header.mast,
.wrapper-mast .mast, 
.wrapper-mast .metadata,
.wrapper-header header.primary,
.wrapper-footer footer.primary {
    max-width: unset !important;
}

@import "footer"