<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ 
%>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Honor Code")}</%block>
        </h1>
      <p>Ao participar na Plataforma NAU est&aacute; a colaborar com uma comunidade que produz e acede a uma experi&ecirc;ncia educativa potenciada pela tecnologia. &Eacute; privil&eacute;gio da NAU providenciar as condi&ccedil;&otilde;es para que essa experi&ecirc;ncia seja vivida nas melhores condi&ccedil;&otilde;es. Para que isto aconte&ccedil;a, a NAU conta n&atilde;o s&oacute; com o entusiasmo dos participantes para aprender, mas tamb&eacute;m com a sua honestidade, idoneidade e integridade acad&eacute;mica.</p>
<p>De forma a poder participar e interagir na Plataforma NAU, ter&aacute; que aceitar os Termos e Condi&ccedil;&otilde;es do Servi&ccedil;o e este C&oacute;digo de Honra e qualquer condi&ccedil;&atilde;o especifica adicional apresentada em cada curso ou forma&ccedil;&atilde;o.</p>

<br>
<h4>Compromisso de Honra</h4>
<br>
<p>Aquando da inscri&ccedil;&atilde;o num curso comprometo-me a:</p>
<ul>
<li>Completar todos os testes e trabalhos do curso sem ajudas, a n&atilde;o ser quando &eacute; expressamente permitido fazer trabalhos ou tarefas em colabora&ccedil;&atilde;o.</li>
</ul>
<p>Comprometo-me ainda a:</p>
<ul>
<li>Ter apenas uma conta e n&atilde;o partilhar o meu nome de utilizador ou palavra passe a ningu&eacute;m.</li>
<li>N&atilde;o desenvolver atividades que levem a melhorar os meus resultados de forma il&iacute;cita, ou a melhorar ou prejudicar os resultados de outr&eacute;m.</li>
<li>N&atilde;o publicar respostas de testes ou tarefas usadas para avaliar os alunos.</li>
</ul>

<br>
<h4>Infra&ccedil;&otilde;es</h4>
<br>
<p>Na eventualidade de ser detetado algum ato il&iacute;cito, poder&atilde;o ser aplicadas as seguintes penalidades:</p>
<ul>
<li>Ser atribuido o valor zero ou zero cr&eacute;ditos ao trabalho;</li>
<li>Retirada ou cancelamento de certificados j&aacute; atribu&iacute;dos;</li>
<li>Ser exclu&iacute;do de um curso ou forma&ccedil;&atilde;o;</li>
<li>Bloqueado o&nbsp;acesso&nbsp;&agrave; Plataforma NAU;</li>
<li>A&ccedil;&otilde;es adicionais poder&atilde;o ser implementadas quer pela NAU, quer pelos promotores dos cursos;</li>
<li>N&atilde;o haver&aacute; lugar a reembolso de valores j&aacute; recebidos em caso de comportamento il&iacute;cito.</li>
</ul>
<p>As viola&ccedil;&otilde;es ao C&oacute;digo de Honra ser&atilde;o aferidas e determinadas pela equipa NAU. Os infractores ser&atilde;o notificados da infra&ccedil;&atilde;o e das correspondentes medidas de penaliza&ccedil;&atilde;o.</p>

<br>
<h4>Altera&ccedil;&otilde;es ao C&oacute;digo de Honra</h4>
<br>
<p>Chamamos a aten&ccedil;&atilde;o que este C&oacute;digo &eacute; revisto regularmente e poder&aacute; sofrer altera&ccedil;&otilde;es ao longo do tempo. Qualquer altera&ccedil;&atilde;o ao C&oacute;digo de Honra tem efeito imediato ap&oacute;s a sua publica&ccedil;&atilde;o na Plataforma NAU, com a data efectiva da altera&ccedil;&atilde;o. Ao aceder &agrave; Plataforma NAU ap&oacute;s as altera&ccedil;&otilde;es, estar&aacute; a concordar automaticamente com o exerc&iacute;cio efectivo do C&oacute;digo de Honra alterado e todas as indica&ccedil;&otilde;es nele contido. Sugerimos a consulta peri&oacute;dica desta p&aacute;gina para garantir o conhecimento atualizado da vers&atilde;o mais recente deste C&oacute;digo de Honra.</p>
<p></p>

<h2>Termos e Condi&ccedil;&otilde;es</h2>
<ol>
<li>O utilizador pode aceder, consultar, visualizar, pesquisar qualquer&nbsp;conte&uacute;do disponibilizado na NAU, desde que o fa&ccedil;a para seu uso pessoal e em boa f&eacute; no contexto e respeitando as regras espec&iacute;ficas de cada curso.</li>
<li>&Eacute; expressamente vedado o acesso, consulta,&nbsp;impress&atilde;o, descarregamento ou qualquer forma de reprodu&ccedil;&atilde;o ou transmiss&atilde;o de conte&uacute;dos disponibilizados na NAU que vise o seu fornecimento, a qualquer t&iacute;tulo, a pessoas ou entidades que n&atilde;o sejam utilizadores autorizados.</li>
<li>O utilizador obriga-se, ainda, a cumprir escrupulosamente a legisla&ccedil;&atilde;o aplic&aacute;vel, nomeadamente, em mat&eacute;ria de criminalidade inform&aacute;tica, de direitos de propriedade intelectual e de direitos de propriedade industrial, sendo exclusivamente respons&aacute;vel pela infrac&ccedil;&atilde;o aos comandos aplic&aacute;veis.</li>
<li>A introdu&ccedil;&atilde;o, altera&ccedil;&atilde;o ou supress&atilde;o da informa&ccedil;&atilde;o disponibilizada no site, a interfer&ecirc;ncia no sistema inform&aacute;tico que lhe serve de suporte de forma a entravar ou perturbar o seu funcionamento e, em geral, todos os comportamentos que consubstanciem a pr&aacute;tica de crimes ligados &agrave; inform&aacute;tica s&atilde;o proibidos e pun&iacute;veis nos termos da lei.</li>
<li>O acesso aos conte&uacute;dos disponibilizados na NAU fica subordinado &agrave; aceita&ccedil;&atilde;o expressa pelo utilizador das regras de utiliza&ccedil;&atilde;o.</li>
<li>O acesso aos curso NAU implica o fornecimento dos seguintes dados pessoas:
<ul>
<li>nome;</li>
<li>endere&ccedil;o de e-mail;</li>
<li>nome de utilizador;</li>
<li>pa&iacute;s.</li>
</ul>
<p>Todos os dados adicionais s&atilde;o opcionais:</p>
<ul>
<li>
<p>g&eacute;nero;</p>
</li>
<li>
<p>ano de nascimento;</p>
</li>
<li>
<p>n&iacute;vel de educa&ccedil;&atilde;o conclu&iacute;do.</p>
</li>
</ul>
<p>A NAU assegurar&aacute; a licitude do tratamento de tais dados, em obedi&ecirc;ncia &agrave; legisla&ccedil;&atilde;o aplic&aacute;vel. Ser&aacute; nomeadamente assegurada a indica&ccedil;&atilde;o da finalidade de recolha de tais dados, bem como o seu n&atilde;o tratamento posterior de forma incompat&iacute;vel com essas finalidades.</p>
</li>
<li>A disponibiliza&ccedil;&atilde;o de dados incorrectos, ou inexatos, &eacute; da exclusiva responsabilidade do titular dos dados.</li>
<li>A NAU n&atilde;o &eacute; respons&aacute;vel por quaisquer danos causados pela sua opera&ccedil;&atilde;o a n&atilde;o ser que resultem de dolo ou culpa grave.</li>
</ol>
<p></p>

<br>
<h4>Altera&ccedil;&otilde;es aos Termos e Condi&ccedil;&otilde;es</h4>
<br>
<p>Chamamos a aten&ccedil;&atilde;o que estes Termos e Condi&ccedil;&otilde;es s&atilde;o revistos regularmente e poder&atilde;o sofrer altera&ccedil;&otilde;es ao longo do tempo. Qualquer altera&ccedil;&atilde;o aos Termos e Condi&ccedil;&otilde;es tem efeito imediato ap&oacute;s a sua publica&ccedil;&atilde;o na Plataforma NAU, com a data efectiva da altera&ccedil;&atilde;o. Ao aceder &agrave; Plataforma NAU ap&oacute;s as altera&ccedil;&otilde;es, estar&aacute; a concordar automaticamente com o exerc&iacute;cio efectivo dos Termos e Condi&ccedil;&otilde;es alterados e todas as indica&ccedil;&otilde;es neles contidas. Sugerimos a consulta peri&oacute;dica desta p&aacute;gina para garantir o conhecimento atualizado da vers&atilde;o mais recente dos Termos e Condi&ccedil;&otilde;es.</p>
<p style="text-align: right;"><strong>Atualizado em: 31-01-2019</strong></p>

    </section>
</main>
